<svg class="sprite" width="0" height="0" aria-hidden="true" focusable="false">
  <!-- Sada ikon: 24x24, cara 1,6 (barva a tloustka z CSS .ico). Pouziti: <svg class="ico"><use href="#i-..."/></svg> -->
  <symbol id="i-machine" viewBox="0 0 24 24"><path d="M3 21h18M5 21V9h14v12M9 9V5h6v4M12 12v4M9.5 16h5M8 21v-2h8v2"/></symbol>
  <symbol id="i-io" viewBox="0 0 24 24"><rect x="3" y="8" width="18" height="10" rx="1.5"/><circle cx="7.5" cy="13" r="1.6"/><circle cx="12" cy="13" r="1.6"/><circle cx="16.5" cy="13" r="1.6"/><path d="M7.5 8V4M12 8V4M16.5 8V4M3 21h18"/></symbol>
  <symbol id="i-schema" viewBox="0 0 24 24"><path d="M3 4v16M21 4v16M3 9h3.5l4-2.5M11 9h3M17 9h4M3 16h7M14 16h7"/><rect x="14" y="7" width="3" height="4"/><circle cx="12" cy="16" r="2"/></symbol>
  <symbol id="i-program" viewBox="0 0 24 24"><rect x="3" y="4" width="18" height="16" rx="2"/><path d="M3 8h18M7 12l2.5 2L7 16M12 16h5"/></symbol>
  <symbol id="i-sim" viewBox="0 0 24 24"><rect x="3" y="4" width="18" height="13" rx="2"/><path d="M6 13h2.5l1.5-5 3 8 1.5-4H18M9 21h6M12 17v4"/></symbol>
  <symbol id="i-shield" viewBox="0 0 24 24"><path d="M12 3l7.5 3v5.5c0 4.6-3.1 8-7.5 9.5-4.4-1.5-7.5-4.9-7.5-9.5V6z"/><path d="M8.8 12.2l2.2 2.2 4.4-4.6"/></symbol>
  <symbol id="i-stamp" viewBox="0 0 24 24"><path d="M9.5 3.5h5l-.8 6.5h-3.4zM5 14a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v3H5zM4 20.5h16"/></symbol>
  <symbol id="i-bom" viewBox="0 0 24 24"><rect x="4" y="3" width="16" height="18" rx="2"/><path d="M8 8h1M11 8h5M8 12h1M11 12h5M8 16h1M11 16h3"/></symbol>
  <symbol id="i-import" viewBox="0 0 24 24"><path d="M12 3v11M7.5 9.5L12 14l4.5-4.5M4 15v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4"/></symbol>
  <symbol id="i-doc" viewBox="0 0 24 24"><path d="M6 3h8l4.5 4.5V21H6z"/><path d="M14 3v4.5h4.5M9 12h6M9 15.5h6M9 19h3.5"/></symbol>
  <symbol id="i-globe" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9"/><path d="M3 12h18M12 3c2.6 2.6 3.8 5.6 3.8 9s-1.2 6.4-3.8 9c-2.6-2.6-3.8-5.6-3.8-9S9.4 5.6 12 3z"/></symbol>
  <symbol id="i-desktop" viewBox="0 0 24 24"><rect x="3" y="4" width="18" height="12" rx="2"/><path d="M8.5 20.5h7M12 16v4.5"/></symbol>
  <symbol id="i-plug" viewBox="0 0 24 24"><path d="M9 3v5M15 3v5M6.5 8h11v3.5a5.5 5.5 0 0 1-11 0zM12 17v4"/></symbol>
  <symbol id="i-eye" viewBox="0 0 24 24"><path d="M2.5 12S6 5.5 12 5.5 21.5 12 21.5 12 18 18.5 12 18.5 2.5 12 2.5 12z"/><circle cx="12" cy="12" r="3"/></symbol>
  <symbol id="i-hash" viewBox="0 0 24 24"><path d="M5 9h15M4 15h15M10.5 4L8.5 20M15.5 4l-2 16"/></symbol>
  <symbol id="i-lock" viewBox="0 0 24 24"><rect x="5" y="10.5" width="14" height="10" rx="2"/><path d="M8.5 10.5V7.5a3.5 3.5 0 0 1 7 0v3M12 14.5v2"/></symbol>
  <symbol id="i-arrow" viewBox="0 0 24 24"><path d="M5 12h14M13 6l6 6-6 6"/></symbol>
  <symbol id="i-download" viewBox="0 0 24 24"><path d="M12 4v11M7.5 10.5L12 15l4.5-4.5M5 20h14"/></symbol>
  <symbol id="i-check" viewBox="0 0 24 24"><path d="M5 12.5l4.5 4.5L19 7.5"/></symbol>
  <!-- prirazeni ikon polozkam obsahu (podle poradi / id) -->
  <symbol id="fl-01" viewBox="0 0 24 24"><use href="#i-machine"/></symbol>
  <symbol id="fl-02" viewBox="0 0 24 24"><use href="#i-schema"/></symbol>
  <symbol id="fl-03" viewBox="0 0 24 24"><use href="#i-sim"/></symbol>
  <symbol id="fl-04" viewBox="0 0 24 24"><use href="#i-stamp"/></symbol>
  <symbol id="fl-05" viewBox="0 0 24 24"><use href="#i-doc"/></symbol>
  <symbol id="fa-01" viewBox="0 0 24 24"><use href="#i-program"/></symbol>
  <symbol id="fa-02" viewBox="0 0 24 24"><use href="#i-doc"/></symbol>
  <symbol id="fa-03" viewBox="0 0 24 24"><use href="#i-globe"/></symbol>
  <symbol id="fa-04" viewBox="0 0 24 24"><use href="#i-io"/></symbol>
  <symbol id="tr-01" viewBox="0 0 24 24"><use href="#i-stamp"/></symbol>
  <symbol id="tr-02" viewBox="0 0 24 24"><use href="#i-hash"/></symbol>
  <symbol id="tr-03" viewBox="0 0 24 24"><use href="#i-eye"/></symbol>
  <symbol id="tr-04" viewBox="0 0 24 24"><use href="#i-doc"/></symbol>
  <symbol id="g-navrh" viewBox="0 0 24 24"><use href="#i-machine"/></symbol>
  <symbol id="g-io" viewBox="0 0 24 24"><use href="#i-io"/></symbol>
  <symbol id="g-schemata" viewBox="0 0 24 24"><use href="#i-schema"/></symbol>
  <symbol id="g-program" viewBox="0 0 24 24"><use href="#i-program"/></symbol>
  <symbol id="g-simulace" viewBox="0 0 24 24"><use href="#i-sim"/></symbol>
  <symbol id="g-bezpecnost" viewBox="0 0 24 24"><use href="#i-shield"/></symbol>
  <symbol id="g-ozivovani" viewBox="0 0 24 24"><use href="#i-plug"/></symbol>
  <symbol id="g-dokumentace" viewBox="0 0 24 24"><use href="#i-doc"/></symbol>
  <symbol id="g-kusovnik" viewBox="0 0 24 24"><use href="#i-bom"/></symbol>
  <symbol id="g-import" viewBox="0 0 24 24"><use href="#i-import"/></symbol>
  <symbol id="g-jazyky" viewBox="0 0 24 24"><use href="#i-globe"/></symbol>
  <symbol id="g-aplikace" viewBox="0 0 24 24"><use href="#i-desktop"/></symbol>
</svg>
